# Cổng chạy server
PORT=5000

# URI kết nối MongoDB (Local hoặc MongoDB Atlas Cloud)
# Local: mongodb://127.0.0.1:27017/survey_db
# Atlas: mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/survey_db?retryWrites=true&w=majority
MONGODB_URI=

# Frontend Origin cho CORS (nếu cần giới hạn)
CLIENT_URL=http://localhost:5173

